/*=====WE GLOBAL=====*/

.flexbox {
    display: flex;
    justify-content: center;
}

body {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 50px;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
}


/*=====WE ARE NO LONGER GLOBAL=====*/



.mainBody {
    padding: 50px;
    width: 900px;
}

.sidebar {
    width: 240px;
}

.portrait {
    vertical-align: middle;
    border-style: none;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 20px;
}

.contactInfo ul {
    list-style: none;
    padding: 0px;
}

.skills p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 15px;
}

.bigTitle h1 {
    font-size: 60px;
}

.projects a {
    color: black;
    text-decoration: underline;
}

.end-note p {
    font-size: 14px;
    text-align: center;
}